body {
	padding: 10px;
	text-align: center;
}

#error-message {
	font-size: 30px;
	color: red;
	font-weight:bold;
}

.hide {
	display:none;  
}

#maxWinnerGames {
	font-size: 30px;
}

#max-games {
	font-weight:bold;
} 

button {
	display: inline-block;
	padding: 11px 50px;
	max-width: 100%;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	color: #fff;
	background-color: #FF0000;
	border: 2px solid #FF0000;
	border-radius: 4px;
	transition: color .3s, background-color .3s;
	cursor: pointer;
	outline: 0!important;
	text-decoration: none;
	touch-action: manipulation;
	user-select: none;
	&:hover, &:active {
		color: #02ac46;
		background-color: #fff;
	}
}

#output {
	height: auto;
}

#score {
	width: 700px;
	display: table;
	font-weight:bold;
}

.choiceBox {
	margin: auto;
	width: 700px;
	font-size: 30px;
}

.clear:after {
	clear: both;
	display: table;
	content: "";
}

.choiceHuman, .choiceComputer {
	width: 350px;
	float: left;
}

.end-screen {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 50px;
	font-weight:bold;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
	&.show {
		display: block;
	}
}

.modal {
	background: #fff;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	
	.close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
		text-decoration: none;
	}
	
	header {
		font-size: 20px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
	}

	.content {
		min-height: 30px;
		padding: 5px 30px;
	}
}